
jsdeodorant/filesjs
jsdeodorant/filesjs/*.js
*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*



# Eclipse specific files
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
/ca.concordia.jsdeodorant.launcher/target/
/ca.concordia.jsdeodorant.core/target/
jsdeodorant/log

*.csv
RemoteSystemsTempFiles

# Log files
*.log

.DS_Store

.gradle
build
core/.classpath
core/.project


