<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="false">

	<appender name="stderr" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.err" />
		<param name="threshold" value="warn" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
		</layout>
	</appender>

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="info" />
			<param name="LevelMax" value="info" />
		</filter>
	</appender>

	<appender name="default.file" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="false" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="10" />
		<param name="file" value="log/application.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p 
	%c{1}:%L - %m%n" />
		</layout>
	</appender>

	<appender name="analysis.file" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="false" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="10" />
		<param name="file" value="log/analysis.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<logger name="ca.concordia.javascript.analysis" additivity="false">
		<level value="debug" />
		<appender-ref ref="stderr" />
		<appender-ref ref="stdout" />
		<appender-ref ref="analysis.file" />
	</logger>

	<root>
		<priority value="debug" />
		<appender-ref ref="stderr" />
		<appender-ref ref="stdout" />
		<appender-ref ref="default.file" />
	</root>

</log4j:configuration>